.body {
  padding: 28px 77px 0px 78px;
}
.body .toggle .mr-auto a {
  font: "Avenir";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 900px) {
  .body {
    padding: 28px 28px 0px 28px;
  }
  .body .toggle .mr-auto a {
    font: "Avenir";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media (max-width: 540px) {
  .body {
    padding: 28px 28px 0px 28px;
  }
}
